<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <title>Quiz App</title>
       <meta name="description" content="">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
       <link href='http://fonts.googleapis.com/css?family=Play:400' rel='stylesheet' type='text/css'>
       <link rel="stylesheet" href="styles/style.css">
       <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
       <script src="http://underscorejs.org/underscore-min.js"></script>
       <script src="main.js"></script>
   </head>
   <body>
     <!-- body goes here -->

	<div id="quiz-app"></div>

	<script type="text/template" id="template-results">
	    <h2>Results</h2>
		<h3>You got <%= correctAnswers %> out of <%= totalQuestions %>!</h3>
		<form id="form">
	      <input id="name-field" type="text" placeholder="Enter your name">
	      <input class="button postfix" id="submit" value="Post Score">
		</form>
	</script>

	<script type="text/template" id="template-question">
		<h4 class="quote"><%= question %></h4>
		  <div class="answer-buttons">
			<button value="<%=choices[1]%>" id="sagan"></button>
			<button value="<%=choices[0]%>" id="tyson"></button>
		  </div>
	</script>

	<script type="text/template" id="template-highscores">
		<div class="row">
		  <div class="large-12 large-centered columns">
			<h2>High Scores</h2>
			<h3><% for (var i = 0; i < localStorage.length; i++) { %>
			<% var names = localStorage.key(i) %>
			<%= names + ":" + localStorage[names]%>
			<br />
			<% } %> </h3>
		  	<br /><button id="retake-quiz"><i class="fa fa-rocket"></i>Take Quiz Again</button>
		  </div>
		</div>
	</script>

	<script>
		var quizData = {
			quizTitle: "Who said it? Carl Sagan or Neil deGrasse Tyson?",
			questions: [
				{
					question: '"The most successful people in life recognize, that in life they create their own love, they manufacture their own meaning, they generate their own motivation."',
					answer: "Neil deGrasse Tyson",
					choices: [
						"Neil deGrasse Tyson",
						"Carl Sagan"
					]
				},
				{
					question: '"The universe is a pretty big place. If it&#39;s just us, seems like an awful waste of space."',
					answer: "Carl Sagan",
					choices: [
						"Neil deGrasse Tyson",
						"Carl Sagan"
					]
				},
				{
					question: '"It pays to keep an open mind, but not so open your brains fall out."',
					answer: "Carl Sagan",
					choices: [
						"Neil deGrasse Tyson",
						"Carl Sagan"
					]
				},
				{
					question: '"Knowing how to think empowers you far beyond those who know only what to think."',
					answer: "Neil deGrasse Tyson",
					choices: [
						"Neil deGrasse Tyson",
						"Carl Sagan"
					]
				},
				{
					question: '"I love the smell of the universe in the morning."',
					answer: "Neil deGrasse Tyson",
					choices: [
						"Neil deGrasse Tyson",
						"Carl Sagan"
					]
				},
				{
					question: '"For small creatures such as we the vastness is bearable only through love."',
					answer: "Carl Sagan",
					choices: [
						"Neil deGrasse Tyson",
						"Carl Sagan"
					]
				},
				{
					question: '"Not only do we live among the stars, the stars live within us."',
					answer: "Neil deGrasse Tyson",
					choices: [
						"Neil deGrasse Tyson",
						"Carl Sagan"
					]
				},
				{
					question: '"If you wish to make an apple pie from scratch, you must first invent the universe."',
					answer: "Carl Sagan",
					choices: [
						"Neil deGrasse Tyson",
						"Carl Sagan"
					]
				}
			]
		};

		Quizzy.start('#quiz-app', quizData)
	</script>

   </body>
</html>