body {
	background: url('../images/horizon.jpg') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Play', sans-serif;
}

h1 {
	text-align: center;
	color: white;
	margin-bottom: 50px;
	font-size: 20px;
}

h2, h3, h4 {
	color: white;
	text-align: center;
	font-size: 30px;
}

.quote {
	width: 80%;
	display: block;
	margin: 0 auto;
}

#tyson {
	background: url('../images/tyson200.jpg');
	width: 200px;
	height: 200px;
	border-radius: 10px;
	border: solid 2px #333;
	float: right;
}

#sagan {
	background-image: url('../images/sagan200.jpg');
	width: 200px;
	height: 200px;
	border-radius: 10px;
	border: solid 2px #333;
	float: left;
}

#tyson:hover, #sagan:hover {
	border: solid 2px white;
	cursor: pointer;

}

.answer-buttons{
	width: 40%;
	margin: 0 auto;
	position: absolute;
	bottom: 20%;
	left: 30%;
}

.percent-correct {
	position: absolute;
	bottom: 5%;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.fa-check {
	font-size: 80px;
	color: green;
}

.fa-times {
	font-size: 80px;
	color: red;
}

#post-score-form {
	width: 15%;
	margin: 0 auto;
}

#name-field {
	width: 100%;
	text-align: center;
	font-family: 'Play', sans-serif;
	font-size: 20px;
	padding: 8px;
}

#post-score {
	width: 100%;
	text-align: center;
	font-family: 'Play', sans-serif;
	font-size: 20px;
	padding: 8px;
}

#post-score:hover {
	cursor: pointer;
}

#retake-quiz:hover {
	cursor: pointer;
}

#retake-quiz {
	width: 100%;
	text-align: center;
	font-family: 'Play', sans-serif;
	font-size: 20px;
	padding: 8px;
}

.retake-quiz-wrapper {
	width: 15%;
	margin: 0 auto;
}


